$black: #221e1d;
$cream: #eceae0;
$acqua: #63aa9c;
$orange: #e9633b;

$bg-light: #2c3e50;
$fg: #2980b9;

@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Shadows+Into+Light+Two");
@import url("https://fonts.googleapis.com/css?family=Anton|Quicksand");

$font1: 'Shadows Into Light Two', cursive;
$font2: 'Julius Sans One', sans-serif;
$font4: 'Anton', sans-serif;
$font6: 'Quicksand', sans-serif;
