body{



}

.shark-table {
  width: 90%;
  margin: 20px auto;
  display: flex;
  padding: 100px 0;

  .shark-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .shark-cell {
      width: 20%;
    }

    .shark-header, .shark-body {
      width: 100%;
    }

    .shark-header .shark-cell {
      font-family: $font2;
      text-align: center;
    }

    .shark-body .shark-row {
      border-bottom: 1px solid $black;
      margin: 20px 0px;
      padding: 20px 0px;
    }

    .shark-body .shark-cell {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .shark-body {
      font-family: $font6;
    }

    .shark-cell:nth-child(4) {
    //.shark-cell:last-child {
      width: 40%;

      img {
        display: block;
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin: 0 auto;
      }
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;

      .shark-cell {
        width: 33.333%;
      }

      .shark-cell:nth-child(4) {
        width: 100%;
      }
    }
  }
}

// table{
//   border: none;
//   //width: 79%;
//   margin: auto;
//   padding-bottom: 100px;
//   padding-top: 100px;
//
// //  display: flex;
//
//   tr{
//     border: none;
//     th{
//       border: none;
//       font-family: $font2;
//     }
//     td{
//       border: none;
//       text-align: center;
//     }
//
//   }
// }
//
//
//
//
//
// tbody{
//   border: none;
//   font-family: $font6;
//     img{
//       width: 300px;
//       height: 200px;
//       object-fit: cover;
//     }
// }


.bubble {
	position: relative;
	top: 50%;
	left: 50%;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: $bg-light;
	overflow: hidden;
	transform: translate(-50%,-50%) rotate(-10deg);
	animation: rock 4s infinite ease-in-out;
	border: 3px solid $bg-light;
	box-shadow: inset 0 0 30px rgba(255,255,255,.1);
	&:before {
		content: '';
		position: absolute;
		background: $fg;
		width: 80px;
		height: 30px;
		bottom: 0;
		display: block;
		border-top-right-radius: 50%;
		border-top: 2px solid rgba(255,255,255,.5);
		animation: curve 4s infinite ease-in-out;
		animation-delay: .5s;
		background-clip: border-box;
		transform: rotate(-10deg);
		box-shadow: inset 0 10px 20px rgba(255,255,255,.2),
			inset 0 -10px 20px rgba(0,0,0,.4);
	}
	&:after {
		content: '';
		position: absolute;
		background: rgba(255,255,255,.1);
		width: 50px;
		height: 24px;
		top: -15px;
		right: 0;
		transform: rotate(20deg);
		filter: blur(12px);
		display: block;
		border-top-left-radius: 50%;
	}
}
.shadow {
	position: absolute;
	top: calc(50% + 45px);
	left: 50%;
	transform: translate(-50%,-50%);
	filter: blur(2px);
	height: 20px;
	width: 80px;
	border-radius: 50%;
	background: rgba(0,0,0,.2);
	z-index: -1;
	animation: shadow-rock 4s infinite ease-in-out;
}

@keyframes rock {	50% { transform: translate(calc(-50% + 10px),-50%) rotate(10deg); } }

@keyframes shadow-rock { 50% { left: calc(50% + 10px) } }

@keyframes curve {
	25%, 75% { border-top: 2px solid rgba(255,255,255,0); }
	50% {
		border-top-left-radius: 50%;
		border-top-right-radius: 0;
		border-top: 2px solid rgba(255,255,255,.5);
		transform: rotate(10deg);
	}
}
