body {
  background-color: $black;
}
//nav menu

nav {
  .menuContainer {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;

    .item1 {
      grid-column: 3;
      text-align: right;
    }

    .item2 {
      text-align: right;
    }

    .item3 {
      grid-column: 7;
    }
  }

  a:hover {
    color: $orange;
  }

  div a {
    text-decoration: none;
    color: $cream;
    font-family: $font2;
    font-size: 0.8rem;
    letter-spacing: 1.8px;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    margin-bottom: 0;
  }
}
/*end of media query*/
//cream zig zag container

.container {
  margin: 0 10vw;
  padding: 32px 8px;
  background: linear-gradient(-135deg, $black 16px, transparent 0), linear-gradient(135deg, $black 16px, transparent 0), linear-gradient(-45deg, $black 16px, transparent 0), linear-gradient(45deg, $black 16px, transparent 0);
  background-color: $cream;
  background-position: left top, left top, left bottom, left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px, 32px 32px;
  //zigzag responsive overrides
  @media (max-width: 768px) {
    margin: 0 2vw;
  }
  //blackTab with quote
  #blackTab {
    margin: -50px auto 0;
    width: 150px;
    height: 200px;
    background: linear-gradient(-160deg, $black 140px, transparent 0), linear-gradient(160deg, $black 140px, transparent 0);

    p {
      color: white;
      font-family: $font2;
      padding: 8px;
      text-align: center;
    }
  }
  //title and subtitle
  h1 {
    font-family: $font1;
    font-size: 7rem;
    text-align: center;
    width: 100%;
    letter-spacing: 15px;
    padding: 0;
    margin: -20px 0 50px;
  }

  h2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: $font6;
    font-size: 3rem;
    letter-spacing: 2px;
    border-bottom: 10px $acqua;
    border-style: none none double none;
    padding: 2vh 0 1vh;
  }
  //title and subtitle responsive overrides
  @media (max-width: 768px) {
    h1 {
      font-size: 4em;
      text-align: center;
      border-bottom: 0;
    }

    h2 {
      font-size: 1.5em;
    }
  }
}
//container ends
//cardBox contaniner

#cardBox {
  // width: 80%;
  // margin: 60px auto 40px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // align-items: baseline;
  // //cardBox contaniner responsive overrides
  // @media (max-width: 768px) {
  //   width: 90%;
  // }
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 40px 40px 40px 40px 40px 40px 40px;
  text-align: center;
  padding: 20px 100px;

  .card:hover {
    color: $acqua;
    cursor: pointer;
  }

  .card{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card:nth-child(1) {
    // width: 30%;
    font-family: $font4;
    font-size: 3.2rem;
    // letter-spacing: 3px;
    grid-column-start: 1;
    grid-column-end: 3;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    //.card:nth-child(1) responsive overrides
    // @media (max-width: 768px) {
    word-break: keep-all;
    //   width: 40%;
    // }
    @media (max-width: 1115px) {
        font-size: 2.3rem;

    }

  }


  .card:nth-child(2) {
    // width: 70%;
    font-family: $font1;
    font-size: 3.2rem;
    grid-column: 3/5;
    grid-row: 1/4;
    line-height: 50px;
    word-spacing: -20px;
    letter-spacing: 3px;
    @media (max-width: 1034px) {
      grid-column: 3/6;
      grid-row: 1/5;
    }
    @media (max-width: 1158px) {
        font-size: 2.8rem;
    }
    @media (max-width: 1125px) {
        font-size: 2.3rem;
        grid-column: 3/7;
        word-spacing: 0;
        line-height: 100%;
        grid-row: 1/3;
    }
    @media (max-width: 936px) {
      font-size: 200%;

    }


    //.card:nth-child(2) responsive overrides
    // @media (max-width: 768px) {
    //   word-break: break-all;
    //   width: 60%;
    //   text-align: right;
    // }
  }

  .card:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2/4;
    // width: 43%;
    font-family: $font1;
    font-size: 3.8rem;
    @media (max-width: 1115px) {
        font-size: 2.5rem;
    }
    @media (max-width: 879px) {
      font-size: 2rem;
      grid-column: 1/3;
      grid-row: 2/3;
    }
    // letter-spacing: 4px;
    // word-spacing: -11px;
  }

  .card:nth-child(4) {
    grid-column: 3/6;
    grid-row: 4/6;
    // width: 57%;
    font-family: $font4;
    // font-weight: bold;
    font-size: 3.8rem;
    @media (max-width: 1364px) {
      grid-row: 5/7;
      font-size: 3.3rem;
    }
    @media (max-width: 1348px) {
      font-size: 3.3rem;
    }
    @media (max-width: 1258px) {
      font-size: 2.9rem;
    }
    @media (max-width: 1192px) {
      font-size: 2.3rem;
      grid-row: 6/7;
    }
    @media (max-width: 999px) {
      grid-column: 2/6;

    }
    @media (max-width: 879px) {
      font-size: 2rem;
      grid-column: 1/3;
      grid-row: 3/4;
    }
    // letter-spacing: 4.5px;
    // //.card:nth-child(9) responsive overrides
    // @media (max-width: 768px) {
    //   text-align: right;
    //   font-size: 3rem;
    // }
  }

  .card:nth-child(5) {
    // width: 100%;
    font-family: $font6;
    grid-column: 1/2;
    grid-row: 4/9;
    // font-weight: bold;
    font-size: 2.1rem;

    // letter-spacing: 2px;
    // text-align: center;
    // border-top: 2px dotted $acqua;
  }

  .card:nth-child(6) {
    grid-column: 2/3;
    grid-row: 4/7;
    // width: 43%;
    font-family: $font4;
    font-weight: lighter;
    font-size: 3rem;
    @media (max-width: 1115px) {
        font-size: 1.8rem;

    }

    // letter-spacing: 3px;
    // //.card:nth-child(6) responsive overrides
    // @media (max-width: 768px) {
    //   word-break: break-all;
    // }
  }

  .card:nth-child(7) {
    grid-column: 5/6;
    grid-row: 1/4;
    // width: 57%;
    font-family: $font6;
    font-size: 250%;
    @media (max-width: 1125px) {
        grid-row: 4/6;
        grid-column: 3/7;
        line-height: 80%;
    }
    @media (max-width: 936px) {
      font-size: 200%;
    }
    @media (max-width: 823px) {
      grid-row: 6/7;
      grid-column: 2/7;
      font-size: 150%;
    }


    // letter-spacing: 4px;
    // word-spacing: -16px;
    // text-align: right;
  }

  .card:nth-child(8) {
    grid-column: 3/6;
    // width: 51%;
    // font-family: $font2;
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    @media (max-width: 1364px) {
      grid-row: 7/9;
      grid-column: 2/3;
      font-size: 2.3rem;
    }
    @media (max-width: 1115px) {
        font-size: 1.8rem;

    }

    // line-height: 90%;
    // //.card:nth-child(8) responsive overrides
    // @media (max-width: 768px) {
    //   font-size: 3.8rem;
    // }
  }

  .card:nth-child(9) {
    grid-column: 2/6;
    // width: 49%;
     font-family: $font6;
     font-size: 4em;
     letter-spacing: 1px;
     word-spacing: 5px;
     @media (max-width: 1364px) {
       grid-row: 7/9;
       grid-column: 3/6;
       font-size: 2.5rem;
     }
     @media (max-width: 936px) {
       font-size: 2rem;
     }
     @media (max-width: 883px) {
       font-size: 1.2rem;

     }

    // text-align: right;
    // line-height: 90%;
    // //.card:nth-child(9) responsive overrides
    // @media (max-width: 768px) {
    //   word-break: break-all;
    //   font-size: 4rem;
    // }
  }

  .card:nth-child(10) {
    grid-column: 1/6;
    // width: 100%;
    font-family: $font1;
     font-size: 5.3rem;
     letter-spacing: 3px;
     word-spacing: -20px;
     line-height: 110%;
     text-align: center;
     border-top: 10px double $orange;
     margin-top: 10px;
  }

  .card:nth-child(10):hover {
    color: $orange;
  }
}
//cardBox ends
//modal

.modal {
  display: none;
  width: 60%;
  background-color: $black;
  margin: 15% auto;
  position: fixed;
  // 15% from the top and centered
  padding: 20px;
  z-index: 99;
  top: 0;
  left: 20%;
  box-shadow: 10px 10px 40px 5px $black;
  //.modal responsive overrides
  @media (max-width: 768px) {
    width: 90%;
    left: 5%;
    margin: 5% auto;
  }
  //Close Button
  .close {
    color: $acqua;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:focus,
  .close:hover {
    color: $orange;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal.open {
  display: block;
  color: white;
  font-family: $font6;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 50px;
}

#vecShark {
  width: 300px;
  margin: 80px auto 60px;
  display: block;
}
