
.containerLanding{
  width: 80vw;
  height: 70vh;
  margin: 5% auto;
  z-index: 1;
  background-color: papayawhip;

}
body{
//  background-image: url("../img/cocoIsland.jpg');
  // img{
  //   width: 100%;
  //   height: auto;
  //   z-index: 0;
  // }

}











// .landingContent {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//
//   .text {
//     width: 100%;
//     height: 100vh;
//   }
//
//   .text:nth-child(1) {
//     background: url('../img/whaleS.jpg') no-repeat center center / cover;
//     background-blend-mode: screen;
//     display: flex;
//     background-attachment: fixed;
//     flex-direction: row-reverse;
//     justify-content: space-between;
//
//     h1 {
//       margin: 30px;
//       color: $black;
//       text-shadow: 1px 1px 1px $cream;
//       font-family: $font6;
//       width: 28vw;
//       text-align: center;
//     }
//
//     p {
//       font-family: $font1;
//       font-size: 1.7rem;
//       align-self: flex-end;
//       width: 30vw;
//       color: $cream;
//       text-shadow: 1px 1px 1px $black;
//       padding-left: 4vw;
//     }
//   }
//   //nth1 end
//
//   .text:nth-child(2) {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//
//     .img-box {
//       width: 40vw;
//       display: flex;
//       justify-content: center;
//
//       img {
//         width: 70%;
//         height: 60%;
//       }
//     }
//
//     h1 {
//       width: 60vw;
//       padding-right: 30vw;
//       color: $cream;
//       font-family: $font6;
//     }
//   }
//   //nth2 end
//
//   .text:nth-child(3) {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-left: 4%;
//     padding-right: 4%;
//     letter-spacing: 1px;
//     font-size: 0.7em;
//
//     p {
//       width: 35vw;
//       color: $cream;
//       font-family: $font2;
//       text-align: center;
//       padding-right: 4%;
//     }
//
//     .img-box {
//       width: 40vw;
//
//       img {
//         width: 100%;
//       }
//     }
//   }
//   //nth3 end
//
//   .text:nth-child(4) {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//
//     h1 {
//       color: $cream;
//       font-family: $font6;
//       padding: 0 25vw;
//       text-align: center;
//     }
//   }
//   //nth4 end
//
//   .text:nth-child(5) {
//     // Extend: http://sass-lang.com/guide#topic-7
//     //@extend .text: nth-child(1);
//
//     h1 {
//       color: $cream;
//       font-family: $font2;
//     }
//   }
//   //nth5 end
//
//   p {
//     color: $acqua;
//     text-align: center;
//     width: 100%;
//     font-family: $font1;
//     font-size: 2em;
//   }
// }
// // Responsive overrides
// @media (max-width: 768px) {
//   .landingContent {
//     .text {
//       height: auto;
//       flex-direction: column !important;
//     }
//
//     .text:nth-child(1),
//     .text:nth-child(5) {
//       h1,
//       p {
//         width: auto;
//       }
//     }
//
//     .text:nth-child(2) {
//       .img-box {
//         width: 100vw;
//
//         img {
//           width: 100%;
//         }
//       }
//
//       h1 {
//         width: 100vw;
//         padding: 0 15vw;
//       }
//     }
//
//     .text:nth-child(3) {
//       p {
//         width: 100vw;
//         font-size: 2em;
//         padding: 5vh 10vw;
//       }
//
//       .img-box {
//         width: 100vw;
//
//         img {
//           padding: 0 10vw;
//         }
//       }
//     }
//
//     .text:nth-child(4) {
//       h1 {
//         padding: 10vh 5vw;
//         text-align: center;
//         font-size: 1.8em;
//       }
//     }
//   }
// }
