*,
*:after,
*:before {
  box-sizing: border-box;
}

#fullForm {
  width: 70vw;
  height: 70vh;
  margin: 100px auto;
  background-color: $cream;
  border-radius: 8px;
  display: flex;

  //#fullForm responsive overrides
  @media (max-width: 768px) {
    width: 90vw;
    height: auto;
    flex-direction: column;
  }

  // direct child div responsive overrides
  & > div {
    height: 100%;
    width: 50%;
    flex: 0 1 50%;
    background: url('../img/ocean2.jpg') no-repeat center center / cover;
    display: flex;
    align-items: center;
    background-blend-mode: screen;

    //direct child div responsive overrides
    @media (max-width: 768px) {
      width: 100%;
    }

    .content {
      text-align: center;

      p {
        width: 60%;
        margin: 0 auto;
        line-height: 4rem;
        font-family: $font1;
        color: $black;
        font-size: 3em;
      }
    }
  }

  form {
    width: 50%;
    background: $cream;

    //form responsive overrides
    @media (max-width: 768px) {
      width: 100%;
    }

    h2 {
      margin: 55px 0;
      text-align: center;
      color: $acqua;
      font-family: $font4;
      font-weight: 300;
      font-size: 3rem;
    }

    .formGroup {
      display: flex;
      margin: 0 15px 15px;

      label {
        background: $acqua;
        height: 36px;
        color: #fff;
        line-height: 18px;
        padding: 10px 5px;
        font-size: 0.9em;
        font-family: $font6;
        // 5*
        border-radius: 4px 0 0 4px;
      }

      input, textarea {
        border: 1px solid $acqua;
        height: 36px;
        width: 100%;
        font-size: 0.85em;
        padding: 0 15px;
        border-radius: 0 4px 4px 0;
        font-family: $font6;
      }

      input:focus {
        background: lighten($acqua, 40%);
      }
    }

    .social-logins {
      padding: 20px 0;

      a {
        color: #fff;
        text-decoration: none;
        display: block;
        text-align: center;
        border-radius: 30px;
        padding: 10px 5px;
        margin: 0 auto 15px;
        font-size: 0.85em;
        font-family: $font6;
        transition: all 150ms ease-in;
      }

      #fb-login {
        width: 180px;
        background: #3b5998;
      }

      #fb-login:hover {
        background: darken(#3b5998, 15%);
      }

      #tw-login {
        width: 150px;
        background: #00aced;
      }

      #tw-login:hover {
        background: darken(#00aced, 15%);
      }
    }

    button {
      width: 100%;
      background: $acqua;
      color: #fff;
      border: none;
      font-size: 1.8em;
      padding: 15px 0;
      font-family: $font6;
      border-radius: 0 0 4px 0;
      display: block;
      transition: all 150ms ease-in;
      align-self: flex-end;

    }

    button:hover {
      cursor: pointer;
      background: darken($orange, 15%);
    }
  }
}
//contentLogin ends
