@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Shadows+Into+Light+Two");
@import url("https://fonts.googleapis.com/css?family=Anton|Quicksand");
html,
body,
ul,
pre,
ol {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: #221e1d; }

nav .menuContainer {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 100px; }
  nav .menuContainer .item1 {
    grid-column: 3;
    text-align: right; }
  nav .menuContainer .item2 {
    text-align: right; }
  nav .menuContainer .item3 {
    grid-column: 7; }
nav a:hover {
  color: #e9633b; }
nav div a {
  text-decoration: none;
  color: #eceae0;
  font-family: "Julius Sans One", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1.8px; }

@media screen and (max-width: 900px) {
  h1 {
    margin-bottom: 0; } }
/*end of media query*/
.container {
  margin: 0 10vw;
  padding: 32px 8px;
  background: linear-gradient(-135deg, #221e1d 16px, transparent 0), linear-gradient(135deg, #221e1d 16px, transparent 0), linear-gradient(-45deg, #221e1d 16px, transparent 0), linear-gradient(45deg, #221e1d 16px, transparent 0);
  background-color: #eceae0;
  background-position: left top, left top, left bottom, left bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px, 32px 32px; }
  @media (max-width: 768px) {
    .container {
      margin: 0 2vw; } }
  .container #blackTab {
    margin: -50px auto 0;
    width: 150px;
    height: 200px;
    background: linear-gradient(-160deg, #221e1d 140px, transparent 0), linear-gradient(160deg, #221e1d 140px, transparent 0); }
    .container #blackTab p {
      color: white;
      font-family: "Julius Sans One", sans-serif;
      padding: 8px;
      text-align: center; }
  .container h1 {
    font-family: "Shadows Into Light Two", cursive;
    font-size: 7rem;
    text-align: center;
    width: 100%;
    letter-spacing: 15px;
    padding: 0;
    margin: -20px 0 50px; }
  .container h2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    border-bottom: 10px #63aa9c;
    border-style: none none double none;
    padding: 2vh 0 1vh; }
  @media (max-width: 768px) {
    .container h1 {
      font-size: 4em;
      text-align: center;
      border-bottom: 0; }
    .container h2 {
      font-size: 1.5em; } }

#cardBox {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 40px 40px 40px 40px 40px 40px 40px;
  text-align: center;
  padding: 20px 100px; }
  #cardBox .card:hover {
    color: #63aa9c;
    cursor: pointer; }
  #cardBox .card {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #cardBox .card:nth-child(1) {
    font-family: "Anton", sans-serif;
    font-size: 3.2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    word-break: keep-all; }
    @media (max-width: 1115px) {
      #cardBox .card:nth-child(1) {
        font-size: 2.3rem; } }
  #cardBox .card:nth-child(2) {
    font-family: "Shadows Into Light Two", cursive;
    font-size: 3.2rem;
    grid-column: 3/5;
    grid-row: 1/4;
    line-height: 50px;
    word-spacing: -20px;
    letter-spacing: 3px; }
    @media (max-width: 1034px) {
      #cardBox .card:nth-child(2) {
        grid-column: 3/6;
        grid-row: 1/5; } }
    @media (max-width: 1158px) {
      #cardBox .card:nth-child(2) {
        font-size: 2.8rem; } }
    @media (max-width: 1125px) {
      #cardBox .card:nth-child(2) {
        font-size: 2.3rem;
        grid-column: 3/7;
        word-spacing: 0;
        line-height: 100%;
        grid-row: 1/3; } }
    @media (max-width: 936px) {
      #cardBox .card:nth-child(2) {
        font-size: 200%; } }
  #cardBox .card:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2/4;
    font-family: "Shadows Into Light Two", cursive;
    font-size: 3.8rem; }
    @media (max-width: 1115px) {
      #cardBox .card:nth-child(3) {
        font-size: 2.5rem; } }
    @media (max-width: 879px) {
      #cardBox .card:nth-child(3) {
        font-size: 2rem;
        grid-column: 1/3;
        grid-row: 2/3; } }
  #cardBox .card:nth-child(4) {
    grid-column: 3/6;
    grid-row: 4/6;
    font-family: "Anton", sans-serif;
    font-size: 3.8rem; }
    @media (max-width: 1364px) {
      #cardBox .card:nth-child(4) {
        grid-row: 5/7;
        font-size: 3.3rem; } }
    @media (max-width: 1348px) {
      #cardBox .card:nth-child(4) {
        font-size: 3.3rem; } }
    @media (max-width: 1258px) {
      #cardBox .card:nth-child(4) {
        font-size: 2.9rem; } }
    @media (max-width: 1192px) {
      #cardBox .card:nth-child(4) {
        font-size: 2.3rem;
        grid-row: 6/7; } }
    @media (max-width: 999px) {
      #cardBox .card:nth-child(4) {
        grid-column: 2/6; } }
    @media (max-width: 879px) {
      #cardBox .card:nth-child(4) {
        font-size: 2rem;
        grid-column: 1/3;
        grid-row: 3/4; } }
  #cardBox .card:nth-child(5) {
    font-family: "Quicksand", sans-serif;
    grid-column: 1/2;
    grid-row: 4/9;
    font-size: 2.1rem; }
  #cardBox .card:nth-child(6) {
    grid-column: 2/3;
    grid-row: 4/7;
    font-family: "Anton", sans-serif;
    font-weight: lighter;
    font-size: 3rem; }
    @media (max-width: 1115px) {
      #cardBox .card:nth-child(6) {
        font-size: 1.8rem; } }
  #cardBox .card:nth-child(7) {
    grid-column: 5/6;
    grid-row: 1/4;
    font-family: "Quicksand", sans-serif;
    font-size: 250%; }
    @media (max-width: 1125px) {
      #cardBox .card:nth-child(7) {
        grid-row: 4/6;
        grid-column: 3/7;
        line-height: 80%; } }
    @media (max-width: 936px) {
      #cardBox .card:nth-child(7) {
        font-size: 200%; } }
    @media (max-width: 823px) {
      #cardBox .card:nth-child(7) {
        grid-row: 6/7;
        grid-column: 2/7;
        font-size: 150%; } }
  #cardBox .card:nth-child(8) {
    grid-column: 3/6;
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 3px; }
    @media (max-width: 1364px) {
      #cardBox .card:nth-child(8) {
        grid-row: 7/9;
        grid-column: 2/3;
        font-size: 2.3rem; } }
    @media (max-width: 1115px) {
      #cardBox .card:nth-child(8) {
        font-size: 1.8rem; } }
  #cardBox .card:nth-child(9) {
    grid-column: 2/6;
    font-family: "Quicksand", sans-serif;
    font-size: 4em;
    letter-spacing: 1px;
    word-spacing: 5px; }
    @media (max-width: 1364px) {
      #cardBox .card:nth-child(9) {
        grid-row: 7/9;
        grid-column: 3/6;
        font-size: 2.5rem; } }
    @media (max-width: 936px) {
      #cardBox .card:nth-child(9) {
        font-size: 2rem; } }
    @media (max-width: 883px) {
      #cardBox .card:nth-child(9) {
        font-size: 1.2rem; } }
  #cardBox .card:nth-child(10) {
    grid-column: 1/6;
    font-family: "Shadows Into Light Two", cursive;
    font-size: 5.3rem;
    letter-spacing: 3px;
    word-spacing: -20px;
    line-height: 110%;
    text-align: center;
    border-top: 10px double #e9633b;
    margin-top: 10px; }
  #cardBox .card:nth-child(10):hover {
    color: #e9633b; }

.modal {
  display: none;
  width: 60%;
  background-color: #221e1d;
  margin: 15% auto;
  position: fixed;
  padding: 20px;
  z-index: 99;
  top: 0;
  left: 20%;
  box-shadow: 10px 10px 40px 5px #221e1d; }
  @media (max-width: 768px) {
    .modal {
      width: 90%;
      left: 5%;
      margin: 5% auto; } }
  .modal .close {
    color: #63aa9c;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .modal .close:focus,
  .modal .close:hover {
    color: #e9633b;
    text-decoration: none;
    cursor: pointer; }

.modal.open {
  display: block;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 50px; }

#vecShark {
  width: 300px;
  margin: 80px auto 60px;
  display: block; }

*,
*:after,
*:before {
  box-sizing: border-box; }

#fullForm {
  width: 70vw;
  height: 70vh;
  margin: 100px auto;
  background-color: #eceae0;
  border-radius: 8px;
  display: flex; }
  @media (max-width: 768px) {
    #fullForm {
      width: 90vw;
      height: auto;
      flex-direction: column; } }
  #fullForm > div {
    height: 100%;
    width: 50%;
    flex: 0 1 50%;
    background: url("../img/ocean2.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    background-blend-mode: screen; }
    @media (max-width: 768px) {
      #fullForm > div {
        width: 100%; } }
    #fullForm > div .content {
      text-align: center; }
      #fullForm > div .content p {
        width: 60%;
        margin: 0 auto;
        line-height: 4rem;
        font-family: "Shadows Into Light Two", cursive;
        color: #221e1d;
        font-size: 3em; }
  #fullForm form {
    width: 50%;
    background: #eceae0; }
    @media (max-width: 768px) {
      #fullForm form {
        width: 100%; } }
    #fullForm form h2 {
      margin: 55px 0;
      text-align: center;
      color: #63aa9c;
      font-family: "Anton", sans-serif;
      font-weight: 300;
      font-size: 3rem; }
    #fullForm form .formGroup {
      display: flex;
      margin: 0 15px 15px; }
      #fullForm form .formGroup label {
        background: #63aa9c;
        height: 36px;
        color: #fff;
        line-height: 18px;
        padding: 10px 5px;
        font-size: 0.9em;
        font-family: "Quicksand", sans-serif;
        border-radius: 4px 0 0 4px; }
      #fullForm form .formGroup input, #fullForm form .formGroup textarea {
        border: 1px solid #63aa9c;
        height: 36px;
        width: 100%;
        font-size: 0.85em;
        padding: 0 15px;
        border-radius: 0 4px 4px 0;
        font-family: "Quicksand", sans-serif; }
      #fullForm form .formGroup input:focus {
        background: #e7f2f0; }
    #fullForm form .social-logins {
      padding: 20px 0; }
      #fullForm form .social-logins a {
        color: #fff;
        text-decoration: none;
        display: block;
        text-align: center;
        border-radius: 30px;
        padding: 10px 5px;
        margin: 0 auto 15px;
        font-size: 0.85em;
        font-family: "Quicksand", sans-serif;
        transition: all 150ms ease-in; }
      #fullForm form .social-logins #fb-login {
        width: 180px;
        background: #3b5998; }
      #fullForm form .social-logins #fb-login:hover {
        background: #263961; }
      #fullForm form .social-logins #tw-login {
        width: 150px;
        background: #00aced; }
      #fullForm form .social-logins #tw-login:hover {
        background: #0074a1; }
    #fullForm form button {
      width: 100%;
      background: #63aa9c;
      color: #fff;
      border: none;
      font-size: 1.8em;
      padding: 15px 0;
      font-family: "Quicksand", sans-serif;
      border-radius: 0 0 4px 0;
      display: block;
      transition: all 150ms ease-in;
      align-self: flex-end; }
    #fullForm form button:hover {
      cursor: pointer;
      background: #c23d16; }

.containerLanding {
  width: 80vw;
  height: 70vh;
  margin: 5% auto;
  z-index: 1;
  background-color: papayawhip; }

.shark-table {
  width: 90%;
  margin: 20px auto;
  display: flex;
  padding: 100px 0; }
  .shark-table .shark-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .shark-table .shark-row .shark-cell {
      width: 20%; }
    .shark-table .shark-row .shark-header, .shark-table .shark-row .shark-body {
      width: 100%; }
    .shark-table .shark-row .shark-header .shark-cell {
      font-family: "Julius Sans One", sans-serif;
      text-align: center; }
    .shark-table .shark-row .shark-body .shark-row {
      border-bottom: 1px solid #221e1d;
      margin: 20px 0px;
      padding: 20px 0px; }
    .shark-table .shark-row .shark-body .shark-cell {
      display: flex;
      justify-content: center;
      align-items: center; }
    .shark-table .shark-row .shark-body {
      font-family: "Quicksand", sans-serif; }
    .shark-table .shark-row .shark-cell:nth-child(4) {
      width: 40%; }
      .shark-table .shark-row .shark-cell:nth-child(4) img {
        display: block;
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin: 0 auto; }
    @media (max-width: 768px) {
      .shark-table .shark-row {
        flex-wrap: wrap; }
        .shark-table .shark-row .shark-cell {
          width: 33.333%; }
        .shark-table .shark-row .shark-cell:nth-child(4) {
          width: 100%; } }

.bubble {
  position: relative;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #2c3e50;
  overflow: hidden;
  transform: translate(-50%, -50%) rotate(-10deg);
  animation: rock 4s infinite ease-in-out;
  border: 3px solid #2c3e50;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.1); }
  .bubble:before {
    content: '';
    position: absolute;
    background: #2980b9;
    width: 80px;
    height: 30px;
    bottom: 0;
    display: block;
    border-top-right-radius: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    animation: curve 4s infinite ease-in-out;
    animation-delay: .5s;
    background-clip: border-box;
    transform: rotate(-10deg);
    box-shadow: inset 0 10px 20px rgba(255, 255, 255, 0.2), inset 0 -10px 20px rgba(0, 0, 0, 0.4); }
  .bubble:after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 24px;
    top: -15px;
    right: 0;
    transform: rotate(20deg);
    filter: blur(12px);
    display: block;
    border-top-left-radius: 50%; }

.shadow {
  position: absolute;
  top: calc(50% + 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(2px);
  height: 20px;
  width: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  animation: shadow-rock 4s infinite ease-in-out; }

@keyframes rock {
  50% {
    transform: translate(calc(-50% + 10px), -50%) rotate(10deg); } }
@keyframes shadow-rock {
  50% {
    left: calc(50% + 10px); } }
@keyframes curve {
  25%, 75% {
    border-top: 2px solid rgba(255, 255, 255, 0); }
  50% {
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    transform: rotate(10deg); } }

/*# sourceMappingURL=main.css.map */
